stdemo.gif filter=lfs diff=lfs merge=lfs -text
STpcbTop.gif filter=lfs diff=lfs merge=lfs -text
SolarTrackerPCB.png filter=lfs diff=lfs merge=lfs -text
STpcbTop.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
